<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Avance de RED
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
      <li><a href="#">Avance proyecto Conecta-Té</a></li>
      <li class="active">Avance del RED</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">  
              <a class="box-title" href="#">{{ red?.nombre }}</a>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row invoice-info">
              <div class="col-md-6">
                <strong>Id del RED:</strong>&nbsp; {{ red?.id }}
              </div>
              <!-- /.col -->
              <div class="col-md-6">
              <strong>Proyecto:</strong>&nbsp; {{ red?.proyecto }}
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row invoice-info -->
            <div class="row">
              <div class="col-md-6">
              <strong>Nombre del RED:</strong>&nbsp; {{ red?.nombre }}
              </div>
              <!-- /.col -->
              <div class="col-md-6">
              <strong>U.H. Modificación:</strong>&nbsp; {{ red?.uhmodificacion }}
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row-->              
          </div>
          <!-- ./box-body -->
          <div class="box-footer">            
          </div>
          <!-- /.box-footer -->
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Historico de fases</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Nombre</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th>Comentario</th>
              </tr>
              <tr *ngFor="let fase of fases">
                <td>{{ fase.fase }}</td>
                <td>{{ fase.fechaInicio }}</td>
                <td>{{ fase.fechaFinal }}</td>
                <td>{{ fase.comentario }}</td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row-->

    <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title">Historico de asignados</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Nombre</th>
                  <th>Rol</th>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row-->

  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->