<div class="container-pdf">
  <div class="col-sm-4">
    <div class="list">

      <div class="box list-row" *ngFor="let list of areaInfo; let i = index">
        <div class="col-sm-12" (click)="moveTo(list); $event.stopPropagation();">ver comentario</div>
        <div class="box-header row col-sm-11">
          <div class="col-sm-6 info text-bold">{{comentariosPdf[i].UsuarioComentario}}</div>
          <div class="col-sm-6 info right">{{comentariosPdf[i].fechaCreacion | date : 'dd MMM yyyy HH:mm:ss'}}</div>
        </div>
        <div>
          <div class="row col-sm-12 ContenidoPrincipal" [innerHTML]="list.comment"></div>
          <p>
            <div class="col-sm-12">
              <ckeditor [editor]="Editor" [(ngModel)]="list.text">Ingresar comentario</ckeditor>
              <br>
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
              <button type="button" [disabled]="!list.text" class="btn btn-primary"
                (click)="addComment(i)">Comentar</button>
            </div>
            </div>
            <br>
            <div class="row col-sm-12 center-block ComentariosHijos" *ngFor="let comment of list.commentsChildren; let x = index ">
              <div class="col-sm-6 ContenidoHijo">{{comment.UsuarioComentario }}</div>
              <div class="col-sm-6 DateComment">{{comment.fechaCreacion | date:'yyyy-MM-dd HH:mm:ss' }}</div>
              <div class="col-sm-12 ContenidoHijo" [innerHTML]="comment.contenido"></div>

            </div>
          <div class="col-sm-6 left bottom"></div>
          <div class="col-sm-6 right">
            <button type="button" *ngIf="comentariosPdf[i].cerrado==false" (click)="seleccionarComentarioCerrado(i)" class=" btn btn-primary right" data-toggle="modal" data-target="#myModal">Cerrar comentario</button>
          </div>
        </div>
        <div class="box-footer margin">

          <div class="col-sm-8 left bottom">
            <button *ngIf="comentariosPdf[i].cerrado==true" type="button" class="btn btn-primary btn-sm btn-block "
              [className]="comentariosPdf[i].resuelto==true ? 'Resuelto' : 'SinResolver'">{{comentariosPdf[i].resuelto ? "Cerrado resuelto" : "Cerrado sin resolver" }}</button>
          </div>
          <div class="col-sm-4 right bottom">
          </div>
        </div>
      </div>
      <div class="row col-sm-9 ">
        <div>Comentarios abiertos: {{CantidadAbiertos}}</div>
        <div>Comentarios cerrados: {{CantidadCerrados}}</div>
      </div>
    </div>

  </div>

  <div #pdfContainer class="container-pdf__right-side" (mousemove)="mouseEvent($event)" (mousedown)="mouseEvent($event)"
    (mouseup)="mouseEvent($event)">
    <pdf-viewer *ngIf="loadData" [src]="rutaArchivo" [stick-to-page]="false"
      [render-text]="true" (page-rendered)="pageRendered($event)" style="display: block;">
    </pdf-viewer>
  </div>
</div>

<div class="js-popper popper" [style.display]="getStyle()">
  <pre>
                <div class="icons">

                <input id="name" type="text" [(ngModel)]="comment" />
                <button class="fas fa-plus" [disabled]="!comment" (click)="save()"></button>
                <button class="fas fa-close" (click)="cancel($event)"></button>
            </div>
        </pre>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header color-back">
          <h4>Cerrar comentario</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ckeditor [editor]="Editor" (change)="onComentarioChange($event)"></ckeditor>
          <input type="radio" id="Radresuelto" checked [(ngModel)]="myRadio" name="cerrar" value="resuelto"> resuelto
          <input type="radio" id="RadSinResolver" [(ngModel)]="myRadio" name="cerrar" value="noResuelto"> sin
          resolver<br>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="CerrarComentario()" class="btn btn-primary" data-dismiss="modal"
            data-toggle="modal" [disabled]="!this.comentario" data-target="#myModalPass">Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModalPass" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header color-back">
          <h4>Cerrar comentario</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>{{MensajeModal}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

</div>
