<div class="container-pdf">

    <div class="container-pdf__left-side">
        <div class="list">
            <div class="list-row" *ngFor="let list of areaInfo; let i = index"
                (click)="moveTo(list); $event.stopPropagation();">
                <div class="title">Comentario {{i + 1}}:</div>
            <div>{{list.comment}}</div> 
            <div>
                <textarea rows="4" cols="80" [(ngModel)]="comment" placeholder="Ingrese su comentario..."></textarea>
                <br>
                <button type="button" class="btn btn-primary" (click)="addComment()">Comentar</button>
            </div>

            <div class="list-row" *ngFor="let comment of list.commentsChildren; let i = index">
                {{comment}}
            </div>

                <div class="page-number">
                    Pagina {{list?.pageNumber}}
                </div>
            </div>
        </div>
    </div>

    <div #pdfContainer class="container-pdf__right-side" (mousemove)="mouseEvent($event)"
        (mousedown)="mouseEvent($event)" (mouseup)="mouseEvent($event)">
        <pdf-viewer src="http://localhost:4200/assets/files/pdf-test.pdf"
            [stick-to-page]="true" [render-text]="true" (page-rendered)="pageRendered($event)" style="display: block;">
        </pdf-viewer>

    </div>


    <div class="js-popper popper" [style.display]="getStyle()">
        <pre>
                <div class="icons">

                <input id="name" type="text" [(ngModel)]="comment" />
                <button class="fas fa-plus" [disabled]="!comment" (click)="save()"></button>
                <button class="fas fa-close" (click)="cancel($event)"></button>
            </div>
        </pre>
        

    </div>